#  16배 나누어 출력하기

- 정수 A가 입력될 때 A에서 16을 나눈 몫을 출력하는 프로그램을 작성하세요.
- 입력 : 7
- 출력 : 0
- 입력값 : 첫째 줄에 정수 A가 입력됩니다. (0 <= A <= 100,000,000)
- 출력값 : 첫째 줄에 정수 A에서 16을 나눈 몫을 출력합니다.

## 1) 문제 이해
- 주어진 값에 16을 나누면 끝..?

## 2) 필요한건?
- 나누기 정도?

In [1]:
# 일단 짜보자
A = int(input())
print(A//16)

7
0

- 마지막 테스트 케이스가 Fail이 나와서 계속 고생했다.
- 이유는 정수와 실수가 제대로 구분되어 있지 않아서,
- 하드코딩을 해보니, 모든 수가 float으로 나온다, 정수처럼 보여도, 314.0 처럼 소수점을 달고 나온다.
- 따라서 마지막이 0으로 끝나면 정수로 바꾸라는 if문을 넣었더니 해결되었다.